.total {
  background: url("../img/fondo02.jpg");
  background-size: cover;
  font-family: sans-serif;
}
.contenido-ingreso {
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
}
.ingreso {
  position: relative;
  width: 100%;
  max-width: 380px;
  padding: 80px 40px 40px;
  background: rgba(0, 0, 0, 0.7);
  border-radius: 10px;
  color: #fff;
  box-shadow: 0 15px 25px rgba(0, 0, 0, 0.5);
}
.ingreso::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 50%;
  height: 100%;
  background: fgba(255, 255, 255, 0.08);
  border-radius: 10px;
}
.ingreso img {
  position: absolute;
  top: -50px;
  left: calc(50% - 50px);
  width: 100px;
  background: rba(255, 255.255.0.8);
  border-radius: 50%;
}
.ingreso h2 {
  text-align: center;
  letter-spacing: 1px;
  margin-bottom: 2rem;
}
.campos .input-group {
  position: relative;
}
.campos .input-group input {
  width: 100%;
  padding: 10px 0;
  font-size: 1rem;
  letter-spacing: 1px;
  margin-bottom: 30px;
  border: none;
  border-bottom: 1px solid #fff;
  outline: none;
  background-color: transparent;
  color: inherit;
}
.campos .input-group label {
  position: absolute;
  top: 0;
  left: 0px;
  padding: 10px 0;
  font-size: 1rem;
  pointer-events: none;
  transition: 0.3s ease-out;
}
.campos .input-group input:focus + label,
.campos .input-group input:valid + label {
  transform: translateY(-18px);
  color: gray;
  font-size: 0.8rem;
}
#olvidarclave {
  display: none;
}
